body {
    margin: 100px 0 0 0;
}

#header {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.23);
}

#header::before, #header::after {
    content: '';
    width: 5em;
}

#nav-bar {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.nav-link {
    margin: 0 1em 0 1em;
    text-decoration: none;
    color: black;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
    gap: 5em;
}

#description h2 {
    margin-right: 5%;
}

#description-title p {
    text-align: justify;
}

h2 {
    font-size: 40px;
    font-weight: lighter;
}

.description-img {
    width: 200px;
    height: 170px;
}

#description-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 30px 100px;
}

.description-item {
    justify-self: center;
    align-self: center;
    text-align: center;
}

#comparative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 5% 10%;
    margin: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#comparative-list-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    grid-gap: 0 10%;
}

.comparative-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    padding: 5% 0 10% 0;
    width: 500px;
    height: 300px;
}

@media screen and (max-width: 1200px) {

    body {
        margin: 70px 0 0 0;
    }

    #description {
        flex-direction: column;
        gap: 0;
    }

    #description-list-item {
        grid-gap: 10px 30px !important;
    }

    h2 {
        text-align: center;
    }

    #video {
        width: 300px;
        height: 150px;
        padding: 5% 10% 10% 10%;
    }
}