body {
    margin: 100px 0 0 0;
}

#header {
    width: 100%;
    background: #6C63FF;
    color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0 5px 10px rgba(108, 99, 255, 0.5);
}

#header::before, #header::after {
    content: '';
    width: 5em;
}

#header-img {
    height: 50px;
}

#nav-bar {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

.nav-link {
    margin: 0 1em 0 1em;
    text-decoration: none;
    color: white;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
    gap: 5em;
}

#description h2 {
    margin-right: 5%;
}

#description-title p {
    text-align: justify;
}

h2 {
    font-size: 40px;
    font-weight: lighter;
}

.description-img {
    width: 200px;
    height: 170px;
}

#description-list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 30px 100px;
}

.description-item {
    justify-self: center;
    align-self: center;
    text-align: center;
}

#comparative {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10% 5% 10%;
    margin: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#comparative-list-card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 10%;
}

.comparative-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.23), -1px 0 20px rgba(0, 0, 0, 0.23), 0 10px 20px rgba(0, 0, 0, 0.23);
}

.card-title {
    width: 100%;
    text-align: center;
    color: white;
}

#card-title-basic {
    background: linear-gradient(90deg, #6C63FF, #564FCC);
}

#card-title-advanced {
    background: linear-gradient(90deg, #564FCC, #4640A6);
}

#card-title-optimal {
    background: linear-gradient(90deg, #4640A6, #3A358A);
}

.card-body {
    width: 100%;
    flex-grow: 1;
    background-color: whitesmoke;
    padding-bottom: 20px;
    text-align: center;
}

.card-item-list {
    font-size: 18px;
    padding: 0;
    list-style: none;
}

.card-item-list li {
    margin-bottom: 1em;
}

.card-links {
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
    gap: 20px;
}

.buy-now-link {
    width: auto;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: #6C63FF;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    transition: 0.5s;
}

.buy-now-link:hover {
    background-color: #4640A6;
}

.learn-more-link {
    width: auto;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #6C63FF;
    border: 2px solid #6C63FF;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    transition: 0.5s;
}

.learn-more-link:hover {
    border-color: #4640A6;
    color: #4640A6;
}

#freeTrial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

#video {
    padding: 5% 0 5% 0;
    width: 500px;
    height: 300px;
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#email {
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    border-color: lightgray;
    width: 30%;
}

#submit {
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #6C63FF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

#submit:hover {
    background-color: #4640A6;
}

@media screen and (max-width: 1200px) {

    body {
        margin: 70px 0 0 0;
    }

    #description {
        flex-direction: column;
        gap: 0;
    }

    #description-list-item {
        grid-gap: 10px 30px !important;
    }

    h2 {
        text-align: center;
    }

    #comparative {
        padding-bottom: 10em;
    }

    #comparative-list-card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-gap: 5% 0;
    }

    #video {
        width: 400px;
        height: 200px;
        padding: 5% 10% 10% 10%;
    }
}

@media screen and (max-width: 500px) {

    .description-img {
        width: 150px;
        height: 120px;
    }

    #video {
        width: 300px;
        height: 150px;
        padding: 5% 10% 10% 10%;
    }
}